/* Formatting for Dashboard Chart Layouts */

.chartsContainerHeaderDiv {
	text-align: center; 
	grid-area: chartHeader;
 font-size: 1.5em;
	font-weight: bold;
}

.projSummary {
	grid-area: chartTotal;
	background-color: white;
}

.chartsPriorityDiv { 
	grid-area: chartPriority;
 background-color: white; 
}

.chartsStatusDiv { 
	grid-area: chartStatus; 
 background-color: white; 
}

.chartsMonthlyDiv { 
	grid-area: chartAtRisk; 
 background-color: white; 
}

.calendarDiv {
	grid-area: chartCalendar;
 background-color: white; 
}

.chartsContainerDiv {
  justify-content: center;
	display: grid;
	grid-template-areas:
		'chartTotal chartPriority chartStatus chartAtRisk chartCalendar';
	gap: 15px;
}

.chartsContainerDiv > div {
	text-align: center;
	padding: 10px;
	max-width: 350px;
	min-width: 350px;
	box-shadow: 0 5px 5px rgba(55, 71, 74, 0.35);
	border-radius: 2%;
}

/* Formatting for general summary */

#totalProjCount {
	font-size: 45px;
	margin-bottom: 5px;
}

#totalProjCompletionRate, #totalProjAtRisk {
	font-size: 25px;
}

/* Formatting for calendar */

#dateMonthYear {
 font-weight: bold;
}

#calendar {
 padding: 20px;
}

#calendar ul {
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}

#calendar li {
 color: slategrey;
 /* 7 days per week */
 width: calc(100% / 7);
}

#calendar #weekdays {
 cursor: default;
 font-weight: bold;
}

#calendar #days li {
 margin-top: 10px;
	margin-bottom: 10px;
}

.calendarDay:hover {
 background-color: lightgray;
 color: white;
	cursor: pointer;
	border-radius: 10%;
}

.dueDate {
	background-color: lightcoral;
 color: white;
 font-weight: bold;
	border-radius: 10%;
}

/* Formatting for dashboard search and buttons div */

.dashboardButtonsDiv {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 10%;
	margin-left: 10%;
}

/* Formatting for Table Displaying Projects */

.projectsTableDiv {
	margin-right: 10%;
	margin-left: 10%;
 overflow-y: scroll;
 height: 500px;
 box-shadow: 0 5px 5px rgba(55, 71, 74, 0.35);
 border: solid lightgray 2px;
}

#projectsTable {
	width: 100%;
	border-collapse: collapse;
  font-size: 0.85em;
	text-align: left;
}

#projectsTable th {
	background-color: lightgray;
}

#projectsTable th,
#projectsTable td {
	padding: 10px 15px;
}

#projectsTable tbody tr:nth-of-type(even) {
	background-color: white;
}