/* FORMATTING FOR ENTIRE BODY */

body {
 background-image: linear-gradient(310deg, #d5fefd 0%, #d8d8e8 75%);
 font-family: 'Open Sans', sans-serif;
 min-height: 100vh;
 letter-spacing: 0.1em;
 font-size: 0.95em;
}

/* FORMATTING FOR NAV BAR */

.appNav {
	background-color: #011936;
	color: white;
}

.navLink {
	color: white;
}

.navLinkActive {
	color: darkgrey;
}

.navBrand {
	color: white;
}

.navLink:hover {
	color: lightgray;
}

.navBrand:hover {
	color: lightgray;
}

.navLinkActive:hover {
	color: darkgrey;
}

li {
 position: relative;
 overflow: hidden;
}

li::after {
	content: "";
 background-color: #d8d8e8;
 height: 2px;
 width: 0;
 left: 0;
 bottom: 0;
 position: absolute;
 transition: width 0.45s ease 0s;
}

li:hover::after {
  width: 100%;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

.navBarToggler {
	background-color: white;
}

.formHeading {
	color: #011936;
}

/* FORMATTING FOR ICONS */

.icon {
	width: 25px;
	margin-right: 5px;
	height: auto;
	background-color: white;
	border: white solid 1px;
	border-radius: 10%;
}

.iconActive{
	width: 25px;
	margin-right: 5px;
 height: auto;
	background-color: darkgray;
	border: darkgray solid 1px;
	border-radius: 5%;
}


/* FORMATTING FOR NOTIFICATION POPUP */

#notificationDiv {
	margin-top: 10%;
	background-color: white !important;
	width: 50%;
	border: solid green 2px !important;
	box-shadow: 0 7px 7px rgba(55, 71, 74, 0.35);
 position: absolute;
 text-align: center;
 align-items: center;
 border: solid white 2px;
 left: 5px;
 right: 5px;
 top: auto;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
 padding: 25px;
 color: white;
 display: none;
 opacity: 1;
 transition: opacity 1s;
 border-radius: 5px;
}


#notificationDiv.fade {
 opacity: 0;
}

.notificationMsgDiv {
 padding-top: 2%;
 padding-bottom: 2%;
}

.notificationBtnsDiv {
 display: grid;
 margin-top: 5%;
 margin-left: 30%;
 margin-right: 30%;
 margin-bottom: 2%;
}

#notification {
	font-weight: bold;
	font-size: 1.5rem;
}


/* FORMATTING FOR NEW PROJECT INPUTS */

#createNewProjectDiv, 
#editProjectDiv,
#viewProjectDiv {
	background-color: #d5fefd;
 background-image: linear-gradient(315deg, lightgray 10%, white 0%);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 2%;
	position: fixed;
	margin-top: 5%;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 30px;
	width: 55%;
	box-shadow: 0 7px 7px rgba(55, 71, 74, 0.35);
	-webkit-border-radius: 2%;
	-moz-border-radius: 2%;
	-ms-border-radius: 2%;
	-o-border-radius: 2%;
}

textarea {
	height: 150px !important;
}

.input-group-text {
	background-color: #011936;
	color: white;
}

select {
	cursor: pointer;	
}

/* FORMATTING FOR HOME PAGE */

.projectHeader {
	background-color: #011936;
	color: white;
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


/* FORMATTING FOR FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
}